nav{
    /* background-color: antiquewhite; */
    background-image: url(../media/nature.jpg);
    border: 1px solid black;
}
.menu-bar{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
 img{
    width: 100px;
}
a{
    text-decoration: none;
    color: rgb(35, 32, 31);
    font-weight: bold;
    font-size: 20px;
}
.menu-items{
    /* border: 1px solid black; */
    padding: 20px;
    flex-grow: 1;  
    /* flex-shrink: 3; */
}
.logo{
    flex-grow: 1;
    /* flex-shrink: 0; */
}
a:hover{
    color: darkorange;
    text-decoration: underline;
    font-size: 25px;
}
img{
    /* width: 300px; */
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 20px;
}